textarea {
  padding: 10px;
  font-family: "ubuntu mono";
  font-size: 20px;
  min-height: 180px;
}

input {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.markdown-renderer {
  width: 100%;
  zoom: 0.33;
}

.sub-section {
  background-color: #ffc107;
  padding: 50px;
}

.sub-section:nth-child(odd) {
  background-color: #f8f9fa;
}

.add-remove-step-container {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  color: #fff0;
  transform: scaleY(0.25);
  transition: 200ms linear;
}

.add-remove-step-container:hover {
  transform: scaleY(1);
  color: #fff;
}

.add-step {
  position: absolute;
  width: 80%;
  left: 0;
  background-color: #0a0;
}

.add-step:hover {
  background-color: #0c0;
}

.remove-step {
  position: absolute;
  width: 20%;
  right: 0;
  background-color: #a00;
}

.remove-step:hover {
  background-color: #c00;
}

.add-step-last {
  width: 100%;
}